<!-- catg header banner section -->
<section id="aa-catg-head-banner">
  <img
    src="../../assets/img/fashion/fashion-header-bg-8.jpg"
    alt="fashion img"
  />
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content" *ngFor="let product of product">
        <h2>{{ product.product_name }}</h2>
        <ol class="breadcrumb">
          <li><a routerLink="home">Home</a></li>
          <li><a>Product</a></li>
          <li class="active">{{ product.product_name }}</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-product-details-area">
          <div class="aa-product-details-content">
            <div class="row">
              <!-- Modal view slider -->
              <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="aa-product-view-slider">
                  <div id="demo-1" class="simpleLens-gallery-container">
                    <div class="simpleLens-container">
                      <div
                        class="simpleLens-big-image-container"
                        *ngFor="let product of product"
                      >
                        <a
                          data-lens-image="../../assets/img/view-slider/large/polo-shirt-1.png"
                          class="simpleLens-lens-image"
                        >
                          <img
                            src="http://localhost:8000/storage/{{
                              product.product_image
                            }}"
                            class="simpleLens-big-image"
                            width="300px"
                            height="350px"
                        /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal view content -->
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div
                  class="aa-product-view-content"
                  *ngFor="let product of product"
                >
                  <h3>{{ product.product_name }}</h3>
                  <div class="aa-price-block">
                    <span class="aa-product-view-price"
                      >Rs. {{ product.price }}</span
                    >
                    <p class="aa-product-avilability">
                      Availability: <span>In stock</span>
                    </p>
                  </div>
                  <p>Description : {{ product.description }}</p>
                  <h4>Size</h4>
                  <div class="aa-prod-view-size">
                    <a>S</a>
                    <a>M</a>
                    <a>L</a>
                    <a>XL</a>
                  </div>
                  <h4>Color</h4>
                  <div class="aa-color-tag">
                    <a class="aa-color-green"></a>
                    <a class="aa-color-yellow"></a>
                    <a class="aa-color-pink"></a>
                    <a class="aa-color-black"></a>
                    <a class="aa-color-white"></a>
                  </div>
                  <h4>Quantity</h4>
                  <input
                    class="aa-prod-quantity"
                    type="number"
                    value="1"
                    (change)="changeQuantity($event, product.product_id)"
                  />

                  <p class="aa-prod-category">
                    Category: <a>{{ product.category_name }}</a>
                  </p>
                </div>
                <div
                  class="aa-prod-view-bottom"
                  *ngFor="let product of product"
                >
                  <a
                    class="aa-add-to-cart-btn"
                    (click)="addProductToCart(product.product_id)"
                    >Add To Cart</a
                  >
                  <a class="aa-add-to-cart-btn">Wishlist</a>
                  <a class="aa-add-to-cart-btn">Compare</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aa-product-details-bottom">
          <ul class="nav nav-tabs" id="myTab2">
            <li><a href="#description" data-toggle="tab">Description</a></li>
            <li><a href="#review" data-toggle="tab">Reviews</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="description">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
              <ul>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quod, culpa!
                </li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Dolor qui eius esse!
                </li>
                <li>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quibusdam, modi!
                </li>
              </ul>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum,
                iusto earum voluptates autem esse molestiae ipsam, atque quam
                amet similique ducimus aliquid voluptate perferendis,
                distinctio!
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis ea, voluptas! Aliquam facere quas cumque rerum dolore
                impedit, dicta ducimus repellat dignissimos, fugiat, minima
                quaerat necessitatibus? Optio adipisci ab, obcaecati, porro unde
                accusantium facilis repudiandae.
              </p>
            </div>
            <div class="tab-pane fade" id="review">
              <div class="aa-product-review-area">
                <h4>2 Reviews for T-Shirt</h4>
                <ul class="aa-review-nav">
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img
                            class="media-object"
                            src="../../assets/img/testimonial-img-3.jpg"
                            alt="girl image"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <strong>Marla Jobs</strong> -
                          <span> March 26, 2016</span>
                        </h4>
                        <div class="aa-product-rating">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-o"></span>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit.
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img
                            class="media-object"
                            src="../../assets/img/testimonial-img-3.jpg"
                            alt="girl image"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <strong>Marla Jobs</strong> -
                          <span>March 26, 2016</span>
                        </h4>
                        <div class="aa-product-rating">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star-o"></span>
                        </div>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit.
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
                <h4>Add a review</h4>
                <div class="aa-your-rating">
                  <p>Your Rating</p>
                  <a *ngFor="let clas of classes" href="#"
                    ><span class="{{ clas.item }}"></span
                  ></a>
                </div>
                <!-- review form -->
                <form action="" class="aa-review-form">
                  <div class="form-group">
                    <label for="message">Your Review</label>
                    <textarea
                      class="form-control"
                      rows="3"
                      id="message"
                    ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      placeholder="Name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="example@gmail.com"
                    />
                  </div>

                  <button
                    type="submit"
                    class="btn btn-default aa-review-submit"
                  >
                    Submit
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Related product -->
        <div class="aa-product-related-item">
          <h3>Related Products</h3>
          <ul class="aa-product-catg aa-related-item-slider">
            <!-- start single product item -->
            <li *ngFor="let product of relatedProds">
              <figure>
                <a class="aa-product-img" href="#">
                  <img
                    src="http://localhost:8000/storage/{{
                      product.product_image
                    }}"
                    alt="{{ product.description }}"
                    width="250px"
                    height="300px"
                /></a>
                <a
                  class="aa-add-card-btn"
                  (click)="addProductToCart(product.product_id)"
                  ><span class="fa fa-shopping-cart"></span> Add To Cart</a
                >
                <figcaption>
                  <h4 class="aa-product-title">
                    <a href="#">{{ product.product_name }}</a>
                  </h4>
                  <span class="aa-product-price">Rs. {{ product.price }}</span
                  ><span class="aa-product-price">
                    <del>Rs. {{ product.price + 1200 }}</del></span
                  >
                </figcaption>
              </figure>
              <div class="aa-product-hvr-content">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Add to Wishlist"
                >
                  <span class="fa fa-heart-o"></span
                ></a>
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Compare"
                  ><span class="fa fa-exchange"></span
                ></a>
                <a
                  href="#"
                  data-toggle2="tooltip"
                  data-placement="top"
                  title="Quick View"
                  data-toggle="modal"
                  data-target="#quick-view-modal"
                  ><span class="fa fa-search"></span
                ></a>
              </div>
              <!-- product badge -->
              <span class="aa-badge aa-sale" href="#">SALE!!</span>
            </li>
          </ul>
        </div>

        <!-- Subscribe section -->
        <section id="aa-subscribe">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="aa-subscribe-area">
                  <h3>Subscribe our newsletter</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ex, velit!
                  </p>
                  <form action="" class="aa-subscribe-form">
                    <input
                      type="email"
                      name=""
                      id=""
                      placeholder="Enter your Email"
                    />
                    <input type="submit" value="Subscribe" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- / Subscribe section -->
      </div>
    </div>
  </div>
</section>
